.Auth-form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to bottom right, #baecf3, #a374dc);
  }

  .Auth-form {
    width: 400px;
    padding: 50px;
    background-color: #fbe2f4;
    border-radius: 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.187);
  }

  .Auth-form-title {
    color: #333;
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
  }

  .form-group p b {
    color: #1779ea;
    font-size: 15px;
  }

  .form-group {
    margin-bottom: 10px;
    margin-top: 10px;

      }


  label {
    color: #1779ea;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 0px solid #ccc;
    border-radius: 50px;
  }

  input[type="checkbox"] {
    margin-right: 10px;
    margin-left: 10px;
  }

  .btn-primary {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #00bcd4;
    border: none;
    border-radius: 3px;
    color: #0d73e8;;
    font-weight: bold;
    cursor: pointer;
  }

  .btn-primary:hover {
    background-color: #008ba3;
  }